# ==========================================================
# Reverse Proxy Template v1.0 by xer0
# ==========================================================

# ----------------------------------------------------------
# Domain Configuration
# ----------------------------------------------------------

DOMAIN=

# ----------------------------------------------------------
# Backend Configuration
# ----------------------------------------------------------
#
# Atualmente o proxy_pass deve ser alterado manualmente em:
# nginx/conf.d/app.conf
# ----------------------------------------------------------

BACKEND_HOST=
BACKEND_PORT=

# ----------------------------------------------------------
# Let's Encrypt
# ----------------------------------------------------------

EMAIL=

# ----------------------------------------------------------
# Timezone
# ----------------------------------------------------------

TZ=America/Sao_Paulo

# ----------------------------------------------------------
# Published Ports
# ----------------------------------------------------------
# HTTP_PORT e HTTPS_PORT podem ser utilizados juntos.
#
# CUSTOM_PORT publica apenas a porta HTTP do Nginx e não pode
# ser utilizado juntamente com HTTP_PORT ou HTTPS_PORT.
# ----------------------------------------------------------

HTTP_PORT=80
HTTPS_PORT=443
CUSTOM_PORT=
